<div class="col s12 m4">
    <div class="card madein-card">
        <article class="{{post_class}}">
            <div class="card-image">
                <img class="madein-card-activator" src="{{image}}">
            </div>
            <header>
                <div class="card-content truncate">
                    <a class="madein-card-href" href="{{url}}"><span
                            class="card-title grey-text text-darken-4 ">{{title}}</span></a>
                </div>
            </header>
            <section class="post-excerpt">
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{title}}</span>

                    <p>{{excerpt words="12"}}…</p>
                </div>
            </section>
        </article>
    </div>
</div>
