{{#ifCond pagination.next "||" pagination.prev}}
    <div class="madein-pagination center">
        <span>
            {{#if pagination.prev}}
            <a href="{{page_url pagination.prev}}#portfolio" 
               class="btn-flat btn-floating btn-large waves-effect amber darken-1">
                <i class="mdi-navigation-chevron-left "></i>
            </a>
            {{else}}
                <a href="#!" 
                   class="btn-flat btn-floating btn-large disabled grey lighten-2">
                    <i class="mdi-navigation-chevron-left "></i>
                </a>
            {{/if}}
        </span>
        
        <span class="current">{{pagination.page}} / {{pagination.pages}}</span>
        <span>
            {{#if pagination.next}}
                <a href="{{page_url pagination.next}}#portfolio"
                   class="btn-flat btn-floating btn-large waves-effect amber darken-1">
                    <i class="mdi-navigation-chevron-right grey-text text-darken-3"></i>
                </a>
            {{else}}
                <a href="#!"
                   class="btn-flat btn-floating btn-large disabled grey lighten-2">
                    <i class="mdi-navigation-chevron-right"></i>
                </a>
            {{/if}}
        </span>
    </div>
{{/ifCond}}
