<!DOCTYPE html>
<html>
<head>
    {{>head}}
    {{ghost_head}}
    <link rel="stylesheet" href="{{asset "css/madein.min.css"}}">
</head>
<body>
{{>navigation}}
{{{body}}}
{{>footer}}
<script src="{{asset "js/libraries.min.js"}}"></script>
<script src="{{asset "js/madein.min.js"}}"></script>
{{> analytics}}
</body>
</html>
