{{!< default}}
{{#post}}
    <main id="content" class="content" role="main">
        <div class="container madein-post-container">
            <article class="{{post_class}}">
                <div class="parallax-container z-depth-1-half">
                    <div class="parallax"><img src="{{image}}"></div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <header class="post-header">
                            <h1 class="card-title grey-text text-darken-3">
                                {{title}}
                                <span class="right madein-tags">
                                    {{#foreach tags}}
                                        <a href="{{url}}" class="post-tag-{{slug}}">{{name}}</a>
                                    {{/foreach}}
                                </span>
                            </h1>
                        </header>
                        <div style="clear: both"></div>
                        <section class="post-content">
                            {{content}}
                        </section>
                    </div>
                </div>
            </article>
        </div>
    </main>
{{/post}}
