{{!< default}}
{{#post}}
    <main id="content" class="content" role="main">
        <div class="container post-container z-depth-1">
            <div class="parallax-container">
                <div class="parallax"><img src="{{image}}"></div>
            </div>
            <article class="{{post_class}}">
                <header class="post-header">
                    <h1 class="card-title">{{title}}</h1>
                </header>
                <section class="post-content">
                    {{content}}
                </section>
                <section class="post-tags">
                    {{#foreach tags}}
                        <a href="{{url}}" class="post-tag-{{slug}}">{{name}}</a>
                    {{/foreach}}
                </section>
        </article>
        </div>
    </main>
{{/post}}
